<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Infrastructure.Web" version="1.0.13.0" targetFramework="net45" />
  <package id="Mvc3Futures" version="3.0.20105.0" targetFramework="net45" />
  <package id="MvcExtensions" version="2.5.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net45" />
</packages>